:root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --container-bg: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #2c3e50;
  --secondary-color: #777;
  --border-color: #e0e0e0;
  --date-color: #888;
  --button-bg: #2c3e50;
  --button-color: #ffffff;
  --main-color: #9a93ff;
}

img {
  overflow: hidden;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(238, 238, 238);
  }

header {
  box-shadow: 0 0 20px var(--shadow-color);
  background-color: rgb(249, 249, 255);
  padding: 10px;
  height: 27px;
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
}

.logo {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-shrink: 0;
  border-radius: 37px;
  background-color: #0054bb;
}

.searchbar {
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.contactme {
  width: 4.5rem;
  height: 2rem;
  font-size:x-small;
  color: var(--text-color);
  box-shadow: 0 0 0px var(--shadow-color);
  border-radius: 17px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  align-self: center;
}
.contactme:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  transition: 0.1s;
}


.facebook {
  width: 2rem;
  height: 2rem;
  font-size: 140%;
  color: var(--text-color);
  box-shadow: 0 0 20px var(--shadow-color);
  border-radius: 45px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  align-self: center;
}
.facebook:hover {
  color: var(--main-color);
  transition: 0.1s;
}

.linkedin {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 90%;
  background-color: #333;
  color: white;
  box-shadow: 0 0 20px var(--shadow-color);
  border-radius: 45px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  justify-self: center;
  align-self: center;
}
.linkedin:hover {
  background-color: var(--main-color);
  transition: 0.1s;
}

.profilepanel {
  height: 350px;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px var(--shadow-color);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
}

.profilepic {
  margin-left: 40px;
  background-color: #263cff;
  width: 300px;
  height: 300px;
  border-radius: 60%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  transition: border-radius 0.5s ease;
  display: flex;
  overflow: hidden;
}

.profilepic:hover {
  border-radius: 20% 20% 20% 20%;
}

.profilewelcome {
  width: 100%;
  height: 17rem;
  padding: 10px;
  color: var(--text-color);
  font-size: 3mm;
  line-height: 1.6;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size:small;
}

.greetbox {
  display: flex;
}

.greetbox2 {
  display: flex;
  margin-right: 10px;
}

.namebox {
  color: #263cff;
  display: flex;
  align-items: center;
}
.greetname {
  display: flex;
  flex-direction: row;
}


.careerbox {
  display: flex;
  width: 50%;
  text-align: justify;
}


.adspace1 {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  padding: 10px;
  background-color: #e0e0e0;
}

.workxpcontainer {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 600px;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}


.worktitle {
  width: 100%;
  height: 33px;
  display: flex;
  
  
}

.workicon {
  width: 2rem;
  height: 2rem;
  font-size: 140%;
  color: var(--text-color);
  box-shadow: 0 0 20px var(--shadow-color);
  border-radius: 45px;
  border: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #e0e0e0;
}

.worktext {
  padding-left: 10px;
  font-size: medium;
  margin-top: 0;
  font-weight: bold;
  color: #333;
  justify-content: space-around;
}

.job {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  display: flex;
}

.jobdescription {
  width: 100%;
  height: 30px;
  color: #777;
  margin-top: 0;
}

.kujialeworks {
  height: 450px;
}





/*Desktops*/
@media (max-width: 1440px) {

}

/*Tablet or Phone*/
@media (max-width: 1024px) {
}